.ow-button-base a{
	font-weight:700;
}
.ow-button-base a:hover{
	text-decoration:none;
}
.btn.btn-primary:hover{
	background-color: lighten($brand-primary, 10%);
}
.main .widget_sow-button a{
	text-decoration: none;
}
