/* SiteOrigins Buider Defaults */

/* reset */
p, menu, figure, fieldset, ul, ol, dl, blockquote, table, form, pre, hr{
  margin-bottom: .9em;
}
html{
	font-weight:300;
	h2,h4,h5,.h2,.h4,.h5{
		font-family: $font-family-sans-serif;
	}
}
img{
	max-width:100%;
	height:auto;
}
p{
	margin-bottom:0.9em;
}
ul, ol {
    padding-left: 1.75em;
}
.fixed-background{
	background-attachment: fixed;
	background-position: 50% 0;
}
.page:not(.home) .main, .single .main{
	h2,h3,h4{
		font-weight: 700;
	}
}
.so-panel.widget_siteorigin-panels-builder .panel-widget-style{
	padding: 15px;
}

.so-panel{
	h1{
		line-height: 1 !important;
		margin:0 0 7.5px !important;
	}
	h2{
		font-weight: 700;
		line-height: 1;
		margin:0 !important;
	}
	a,a:hover{
		text-decoration: none !important;
	}
	.textwidget{
		h2 a{
			font-weight: 300;
			padding: 12px 0;
			display: block;
			font-size: 24px;
			line-height: 1.3;
			color:rgb(44, 46, 51);
			&:hover{
				color: rgb(90, 46, 46);
			}
		}
		h3 a{
			&:hover{
				color: $link-hover-color !important;
			}
		}
	}
	.sow-slider-image-wrapper p{
		margin: .75em 0 !important;
	}
	.so-widget-sow-button{
		margin-left:0;
	}
	.sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper .sow-hero-buttons{
		margin-top: 1.6em;
		.so-widget-sow-button{
			margin-left: 0;
			margin-right: 20px;
			a{
				font-size: 16px;
		    padding: 12px 0;
		    width: 270px;
		    line-height: 1.1em;
			}

		}
	}
	&.widget_sow-image{
		margin-bottom: 0 !important;
	}
}
