/* SiteOrigins Buider Defaults */
img{
	max-width:100%;
	height:auto;
}
.fixed-background{
	background-attachment: fixed;
}

.so-panel.widget_siteorigin-panels-builder .panel-widget-style{
	padding: 15px;
}
