.desktop-header{
	padding-top:15px;
	padding-bottom:15px;
	.header_textarea{
		padding-top: 10px;
		text-align: center;
		font-weight: 300;
	}
	.header_button{
		padding-top: 12px;
		text-align: right;
		.btn{
			font-size: 15px;
			padding:12.5px 45.5px;
			border:medium none;
			line-height: 1em;
		}
	}
}
.mobile-header{
	padding:5px 0;
	img{
		max-height: 40px;
	}
}
.navbar-brand{
	height:auto;
	clear:both;
	padding:0;
	img{
		padding-top:1px;
		max-width: 270px;
	}
}

.navbar-inverse{
	background-color: $brand-primary;
	font-family: $font-family-serif;
	font-weight: normal;
	font-size: 15px;
	margin-bottom: 0;
	border-width:0;
	.nav{
		float: none;
		text-align:center;
		li{
			float: none;
			display: inline-block;
		}
		.caret{
			margin-left: -1.7px;
		}
		.dropdown-menu{
			li a{
				font-weight: 300;
		    	font-size: 14px;
		    	font-family: $font-family-sans-serif;
			}
		}
	}
}

.navbar-toggle{
	border-color: #fff;
	padding:5px 0;
	margin:0;
	float: none;
	.icon-bar{
		background-color:$brand-primary;
	    width: 27px;
	    height: 7px;
	    border-radius: 7px;
	}
	.icon-bar+.icon-bar{
		margin-top: 2px;
	}
}
